<!--Student Name: Angel Ayra Carino
Student Number: 301204998
Date: -->



<div class="container">
    <h1><%= title %></h1>
        <center><img src="./Assets/images/angelayra.jpg" alt="" width="550" height="400"></center>
       <br>
       <div align= "center">
           <p>Hello! I am <b>Angel Ayra Cariño</b>, 26 years of age, born and raised in the Philippines. I graduated way back in 2017, took up a Bachelor’s Degree in Information Technology at San Beda College Alabang. I have worked for almost 3 years in 3 different positions, namely as a Management Information System Associate, a Business Processing Associate, and as a Data Processing Analyst. As Information Technology is a growing career field, I enrolled in this program to have a better understanding and knowledge of the uses of different software.
            As a full-time student in Centennial College, taking up Software Engineering Technology (fast-track) program.  I am currently studying and investing my time on continuously learning and discovering new ideas. </p>
        </div>
        <td><b>Resume: </b></td>
                    <td><a href="./Assets/documents/Resume.pdf"><i>click here</i></a></td>
        <div align ="center">

            <p> Please also see attached</p>
        </div>

    </div>
</body>
</html>