<!--Student Name: Angel Ayra Carino
Student Number: 301204998
Date: June21, 2022-->


<div class="container">
    <h1><%= title %></h1>
<br>
    <p>Contact Number: (+1) 647-705-4906
    <p>Email Address: angelayraaa@gmail.com


<br>
<br>
<form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Feel free to reach out!</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">First Name</label>
          <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="Enter your First Name" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Last Name</label>
            <div class="col-md-4">
            <input id="name" name="name" type="text" placeholder="Enter your Last Name" class="form-control input-md" required="">
            </div>
          </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phoneNumber">Contact Number</label>
          <div class="col-md-4">
          <input id="phoneNumber" name="phoneNumber" type="text" placeholder="Enter your Contact Number" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="emailAddress">Email Address</label>
            <div class="col-md-4">
            <input id="emailAddress" name="emailAddress" type="text" placeholder="Enter your Email Address" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Leave a message!</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" columns="2"></textarea>
          </div>
          </div>
        
        <!-- Button -->
        <center> <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-8">
              <button id="submit" name="submit" class="btn btn-info" type="submit" a href="/home">Submit</button>
        </div>
    </center>
    </table>
    </fieldset>
    </form>

</body>
</div>