<!--Student Name: Angel Ayra Carino
Student Number: 301204998
Date: June21, 2022-->

<div class="container">
    <h1><%= title %></h1>
<br>
   <center> </center>
   <img src="./Assets/images/angel.jpg" align="left" height= "600px">
        <center>
            <h5></b> Welcome everyone to my Personal Homepage!</h5>
            <p><p> <b>Full Name</b>: Angel Ayra Macaraig Carino
            <p> <b>Student ID</b>: 301204998
            <p> <b>Course Code</b>: 3429
            <p> <b>Course Name</b>: Software Engineering Technology
            <p> <b>Assignment</b>: Create a Personal Portfolio using ExpressJS and implementing the EJS Templating engine.

    <br><br>
    I am delighted that you have visited my website to learn more about me. 
    <p>You can <a href="./about"><i>click here</i></a> to get to know more of me. </p>
    <p>You can <a href="./projects"><i>click here</i></a> to get to know more of the past projects I made. </p>
    <p>You can <a href="./services"><i>click here</i></a> to get to know the services I'm offering. </p>
    <p>You can <a href="./contact"><i>click here</i></a> to contact me. </center>


<center>
<p class="fst-italic"><b>MISSION STATEMENT</b></p>
- To live truthfully and be true to myself. <br>
- To never lose sight of what is important and to work harder to achieve long-term objectives. <br>
- To pursue things that matters to me and continuously evolve and improve myself.
</center>
</div>