<!--Student Name: Angel Ayra Carino
Student Number: 301204998
Date: June21, 2022-->

<div class="container">
    <h1><%= title %></h1>

    <div style="padding-top: 20px;">
        <table>
            <tr>
                <td><img src="./Assets/images/Project1.png" height="250px"></td>
                <td>
                    <strong>Mobile Application Development</strong><br>
                    Implemented a basic mobile application.
                    <br>
                </td>
            </tr>
            <tr>
                <td><img src="./Assets/images/Project2.png" height="250px"></td>
                <td>
                    <strong>Java Application</strong><br>
                    Working on a Tic-Tac-Toe Application.
                    <br>
                </td>
            </tr>
            <tr>
                <td><img src="./Assets/images/Project3.png" height="250px"></td>
                <td>
                    <strong>Web Application Development</strong><br>
                    Currently working on a project which is the Express Portfolio.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
</div>