<style>
    .img1 {

        width: 450px;
        height: 300px;
    }
</style>

<div class="container">
    <h1><%= title %></h1>

  <center><h5><i>Services Offering:</i></h5></center>

  <div style="padding-top: 20px;">
    <table>
        <tr>
            <td><img src="./Assets/images/Services1.png" height="250px" class = "img1"></td>
            <td>
                <i>Mobile Application Development</i><br>
                <br>
            </td>
        </tr>
        <tr>
            <td><img src="./Assets/images/Services2.png" height="250px" class = "img1"></td>
            <td>
                <i>Java Application</i><br>
                <br>
            </td>
        </tr>
        <tr>
            <td><img src="./Assets/images/Services3.png" height="250px" class = "img1"></td>
            <td>
                <i>Web Application Development</i><br>
            </td>
        </tr>
    </table>
</div>
</div>